.container {
  padding: 20px;
}
h1 {
  text-align: center;
}
.btn-primary {
  display: block;
  margin: 0 auto;
  width: 200px;
}
img {
  border-radius: 50px;
  padding: 30px;

  display: block;
  margin: 0 auto;
}
